<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Weibo Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <style>
        div.container {
            width: 650px;
        }
        .form-horizontal .radio-inline {
            padding-top: 0;
            padding-left: 0;
        }
        div.pull-right>button {
            margin-left: 10px;
        }
        form img.img-thumbnail {
            width: 36px;
            opacity: 0.5;
        }
        form img.img-thumbnail:hover {
            opacity: 1;
        }
        form div.col-xs-7 {
            text-align: center;
        }
        div>img.img-rounded {
            width: 60px;
        }
        p.list-group-item-text>a.pull-right {
            display: none;
        }
        div.col-xs-6>div.alert {
            margin-bottom: 0;
            padding: 8px 8px 8px 10px;
        }
    </style>
</head>
<body>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/angular.js/1.4.8/angular.min.js"></script>
    <script>
        var app = angular.module('weibo', []);
        app.controller('formCtrl', function($scope) {
            $scope.remain = 140;
            $scope.count = function() {
                if (!$scope.content) {
                    $scope.remain = 140;
                    return;
                }
                $scope.remain = 140 - $scope.content.length;
            };
        });
    </script>

    <!-- https://github.com/identicons/debbbbie.png -->
    <div ng-app="weibo" class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>你好，说点什么吧</h2>
            </div>
            <div class="panel-body">
                <form ng-controller="formCtrl" class="form-horizontal" action="javascript:;">
                    <div class="form-group">
                        <div class="col-xs-5">
                            <input ng-model="username" class="form-control" name="username" type="text" placeholder="君の名前" required>
                        </div>
                        <div class="col-xs-7">
                            <label class="radio-inline">
                                <input class="sr-only" name="imgradio" type="radio" value="img0">
                                <img class="img-thumbnail" src="//7xpc5m.com1.z0.glb.clouddn.com/default.png">
                            </label>
                            <label class="radio-inline">
                                <input class="sr-only" name="imgradio" type="radio" value="img1">
                                <img class="img-thumbnail" src="//7xpc5m.com1.z0.glb.clouddn.com/default.png">
                            </label>
                            <label class="radio-inline">
                                <input class="sr-only" name="imgradio" type="radio" value="img2">
                                <img class="img-thumbnail" src="//7xpc5m.com1.z0.glb.clouddn.com/default.png">
                            </label>
                            <label class="radio-inline">
                                <input class="sr-only" name="imgradio" type="radio" value="img3">
                                <img class="img-thumbnail" src="//7xpc5m.com1.z0.glb.clouddn.com/default.png">
                            </label>
                            <label class="radio-inline">
                                <input class="sr-only" name="imgradio" type="radio" value="img4">
                                <img class="img-thumbnail" src="//7xpc5m.com1.z0.glb.clouddn.com/default.png">
                            </label>
                            <label class="radio-inline">
                                <input class="sr-only" name="imgradio" type="radio" value="img5">
                                <img class="img-thumbnail" src="//7xpc5m.com1.z0.glb.clouddn.com/default.png">
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <textarea ng-keyup="count()" ng-model="content" class="form-control" name="content" maxlength="140" rows="5" placeholder="What do you want to say? Everything is OK." required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <div class="alert alert-danger fade in">
                                <a class="close" data-dismiss="alert" href="#" aria-label="close">&times;</a>
                                <strong>Danger!</strong> {{ field }} 不允许为空！
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="pull-right">
                                <span class="lead">还能输入 <big class="text-info">{{ remain }}</big> 个字</span>
                                <button class="btn btn-success" type="submit">发 送</button>
                            </div>
                        </div>
                    </div>
                </form>
                <hr>
                <ul class="nav nav-tabs bg-info">
                    <li class="active"><a data-toggle="tab" href="#history">是谁在唱歌</a></li>
                    <li class="disabled"><a data-toggle="" href="#what">温暖了寂寞</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="history">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <img class="img-rounded" src="//7xpc5m.com1.z0.glb.clouddn.com/default.png">
                                    </div>
                                    <div class="col-xs-10">
                                        <h4 class="list-group-item-heading"><a href="javascript:;">听你流浪</a>：ようこそ～</h4>
                                        <p class="list-group-item-text"><script>document.write(new Date().toLocaleString());</script><a class="text-danger pull-right" href="javascript:;">删除</a></p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <img class="img-rounded" src="//7xpc5m.com1.z0.glb.clouddn.com/default.png">
                                    </div>
                                    <div class="col-xs-10">
                                        <h4 class="list-group-item-heading"><a href="javascript:;">听你流浪</a>：ようこそ～</h4>
                                        <p class="list-group-item-text"><script>document.write(new Date().toLocaleString());</script><a class="text-danger pull-right" href="javascript:;">删除</a></p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <img class="img-rounded" src="//7xpc5m.com1.z0.glb.clouddn.com/default.png">
                                    </div>
                                    <div class="col-xs-10">
                                        <h4 class="list-group-item-heading"><a href="javascript:;">听你流浪</a>：ようこそ～</h4>
                                        <p class="list-group-item-text"><script>document.write(new Date().toLocaleString());</script><a class="text-danger pull-right" href="javascript:;">删除</a></p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <img class="img-rounded" src="//7xpc5m.com1.z0.glb.clouddn.com/default.png">
                                    </div>
                                    <div class="col-xs-10">
                                        <h4 class="list-group-item-heading"><a href="javascript:;">听你流浪</a>：ようこそ～</h4>
                                        <p class="list-group-item-text"><script>document.write(new Date().toLocaleString());</script><a class="text-danger pull-right" href="javascript:;">删除</a></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade in" id="what">
                        <h3>WHAT</h3>
                        <p>What did you say?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
